name: Amaz Khan
 
on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]
 
permissions:
  id-token: write
  contents: read
 
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.9
        uses: actions/setup-python@v3
        with:
          python-version: 3.9
 
      - name: List Files
        run: |
          echo "Amaz is learning"
          ls -la
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          python -m pip install flake8
 
      - name: Lint Check
        run: |
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
 
  deploy:
    runs-on: ubuntu-latest
    needs: build
 
    steps:
      - name: Check out branch
        uses: actions/checkout@v4
 
      - name: Docker Login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.Amaz_USERNAME }}
          password: ${{ secrets.Amaz_PASSWORD }}
 
      - name: Build and Push Image
        run: |
          docker build -t ${{ secrets.Amaz_USERNAME }}/flaskwebapp-main:${{ github.sha }} .
          docker push ${{ secrets.Amaz_USERNAME }}/flaskwebapp-main:${{ github.sha }}
 
      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: "AmazDevOps"
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          images: "${{ secrets.Amaz_USERNAME }}/flaskwebapp-main:${{ github.sha }}"
